* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    background: var(--Darkcyan);
}

.one {
    position: absolute;
    left: -50%;
    top: -80%;
    z-index: -2;
}

.two {
    position: absolute;
    bottom: -80%;
    right: -50%;
    z-index: -1;
}

.card {
    width: 350px;
    height: 400px;
    background: #fff;
    box-shadow: 0 10px 10px rgba(83, 57, 57, 0.15);
    border-radius: 0.6rem;
    z-index: 1;
}
.card img {
    width: 100%;
    height: 40%;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
}

.card_profile {
    text-align: center;
}

.card_profile img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: -55px;
    margin-bottom: 15px;
    z-index: 1;
    background-size: cover;
    background-position: center;
    border: 1px solid #fff;
}
.card_profile h2 {
    font-size: 1.2rem;
    font-weight: 400;
}

.card_profile span {
    margin-left: 15px;
    color: var(--Darkgray);
}
.card_profile p {
    margin-top: 15px;
    color: var(--Darkgray);
    font-weight: 200;
    font-size: 1rem;
}

.card .three_col {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid var(--Darkgray);
    margin-top: 30px;
    text-align: center;
}
.card .three_col h2 {
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.card .three_col p {
    color: var(--Darkgray);
    font-size: 0.9rem;
}

.col {
    margin-top: 20px;
}

:root {
    --Darkcyan: hsl(185, 75%, 39%);
    --Verydarkdesaturatedblue: hsl(229, 23%, 23%);
    --Darkgrayishblue: hsl(227, 10%, 46%);

    --Darkgray: hsl(0, 0%, 59%);
}

.footer {
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 25px;
    width: 100%;
}
.footer h2 {
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--Verydarkdesaturatedblue);
}
.footer span {
    font-size: 1.2rem;
    color: #fff;
}

@media (max-width: 768px) {
    .one {
        position: absolute;
        top: -50%;
        left: -50%;
        width: 500px;
    }
    .two {
        position: absolute;
        bottom: -50%;
        right: -50%;
        width: 500px;
    }
    .footer {
        position: absolute;
        bottom: 0px;
        width: 100%;
        max-width: 300px;
    }
    .footer h2 {
        color: var(--Verydarkdesaturatedblue);
    }
}
